.products-list {
    padding: 10px;
    padding-block-start: 30px;
}

.products-list-header {
    width: 100%;
    justify-content: space-between;
}

.products-list-header h2 {
    font-size: 26px;
}

.products-sorting {
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    height: 35px;
    padding: 0 5px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}